<html lang="fr" class="wf-museosanscondensed-i3-active wf-museosanscondensed-i7-active wf-museosanscondensed-n3-active wf-museosanscondensed-n7-active wf-active"><head>
    <meta charset="utf-8">
    <title>Showtimes</title>
    <meta name="description" content="Weekly french cinemas showtimes delivery for BERG Cloud's Little Printer">
    <meta name="Keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="http://showtimes.gsell.me/favicon.png">
    <meta property="og:image" content="http://showtimes.gsell.me/icon.png">
    <meta name="twitter:image" content="http://showtimes.gsell.me/icon.png">
    </head>
   
    <body style="zoom: 1;">

        <div class="container">
            <header>
                <div class="title">UGC Ciné Cité Les Halles</div>
                <div class="subtitle">


                    30/06/2014

                </div>
            </header>

            <section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/03/14/03/446077.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Sous les jupes des filles</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>2.3</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h56</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                        

                        

                        
                        11:15</li><li>
                        
                        13:30</li><li>
                        
                        15:45</li><li>
                        
                        18:00</li><li>
                        
                        20:15</li><li>
                        
                        22:30</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/03/04/14/58/474265.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Qu'est-ce qu'on a fait au Bon Dieu?</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.8</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h37</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                        

                        

                        
                        11:05</li><li>
                        
                        13:00</li><li>
                        
                        14:55</li><li>
                        
                        16:50</li><li>
                        
                        18:45</li><li>
                        
                        20:40</li><li>
                        
                        22:35</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/03/12/56/160545.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Maléfique</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.4</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h37</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:05</li><li>
                        
                        13:00</li><li>
                        
                        14:55</li><li>
                        
                        16:50</li><li>
                        
                        18:45</li><li>
                        
                        20:40</li><li>
                        
                        22:35</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/05/15/38/543364.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Transcendance</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>2.3</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h53</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        
                        <span class="version">NEW</span></li><li>
                        

                        
                        11:15</li><li>
                        
                        13:30</li><li>
                        
                        15:45</li><li>
                        
                        18:00</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/05/15/38/543364.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Transcendance</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>2.3</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h53</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        
                        <span class="version">NEW</span></li><li>
                        

                        
                        20:15</li><li>
                        
                        22:30</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/05/17/17/130107.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">La Ritournelle</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.4</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h38</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                        

                        

                        
                        11:30</li><li>
                        
                        13:45</li><li>
                        
                        16:00</li><li>
                        
                        18:10</li><li>
                        
                        20:15</li><li>
                        
                        22:25</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/23/17/03/300170.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Edge Of Tomorrow</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.4</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h53</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:20</li><li>
                        
                        13:35</li><li>
                        
                        15:50</li><li>
                        
                        18:05</li><li>
                        
                        20:20</li><li>
                        
                        22:35</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/30/14/38/201479.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Triple alliance</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>2.6</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h49</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:15</li><li>
                        
                        13:30</li><li>
                        
                        15:45</li><li>
                        
                        18:00</li><li>
                        
                        20:15</li><li>
                        
                        22:30</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/03/24/14/35/575642.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">X Men: Days of Future Past</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.7</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>02h12</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:50</li><li>
                        
                        14:25</li><li>
                        
                        17:00</li><li>
                        
                        19:35</li><li>
                        
                        22:10</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/12/18/02/062595.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">On a failli être amies</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.5</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h31</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                        

                        
                        <span class="version">NEW</span></li><li>
                        

                        
                        11:05</li><li>
                        
                        13:00</li><li>
                        
                        14:55</li><li>
                        
                        16:50</li><li>
                        
                        18:45</li><li>
                        
                        20:40</li><li>
                        
                        22:35</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/26/16/30/147796.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Jersey Boys</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.7</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>02h14</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:50</li><li>
                        
                        14:25</li><li>
                        
                        17:00</li><li>
                        
                        19:35</li><li>
                        
                        22:10</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/25/15/05/022154.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Au fil d'Ariane</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.1</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h40</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                        

                        

                        
                        11:05</li><li>
                        
                        13:00</li><li>
                        
                        14:55</li><li>
                        
                        16:50</li><li>
                        
                        18:45</li><li>
                        
                        20:40</li><li>
                        
                        22:35</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/02/12/10/48/344396.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">The Two Faces of January</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.4</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h37</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:05</li><li>
                        
                        13:00</li><li>
                        
                        14:55</li><li>
                        
                        16:50</li><li>
                        
                        18:45</li><li>
                        
                        20:40</li><li>
                        
                        22:35</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/16/12/05/307596.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">L'Ex de ma vie</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>2.7</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h20</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                        

                        
                        <span class="version">NEW</span></li><li>
                        

                        
                        10:45</li><li>
                        
                        12:25</li><li>
                        
                        14:05</li><li>
                        
                        15:45</li><li>
                        
                        17:25</li><li>
                        
                        19:05</li><li>
                        
                        20:45</li><li>
                        
                        22:25</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/25/14/49/075169.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Bird People</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.7</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>02h08</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                        

                        

                        
                        11:45</li><li>
                        
                        14:30</li><li>
                        
                        17:10</li><li>
                        
                        19:40</li><li>
                        
                        22:10</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/06/10/10/12/041503.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Black Coal</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>4.0</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h46</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:45</li><li>
                        
                        13:55</li><li>
                        
                        16:05</li><li>
                        
                        18:15</li><li>
                        
                        20:25</li><li>
                        
                        22:35</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/24/15/10/448076.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Amour sur place ou à emporter</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>1.7</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h25</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                        

                        

                        
                        11:05</li><li>
                        
                        12:55</li><li>
                        
                        14:45</li><li>
                        
                        16:35</li><li>
                        
                        18:25</li><li>
                        
                        20:15</li><li>
                        
                        22:15</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/25/12/27/122290.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Le Conte de la princesse Kaguya</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>4.5</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>02h17</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        
                        <span class="version">NEW</span></li><li>
                        

                        
                        11:45</li><li>
                        
                        14:20</li><li>
                        
                        16:55</li><li>
                        
                        19:30</li><li>
                        
                        22:05</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/23/15/55/106160.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">The Homesman</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.5</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>02h02</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:40</li><li>
                        
                        14:05</li><li>
                        
                        16:30</li><li>
                        
                        20:00</li><li>
                        
                        22:20</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/24/15/21/283431.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Maps To The Stars</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.7</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h51</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:20</li><li>
                        
                        13:35</li><li>
                        
                        15:50</li><li>
                        
                        18:05</li><li>
                        
                        20:20</li><li>
                        
                        22:35</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/28/14/49/020182.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Zero Theorem</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>2.4</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h46</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        
                        <span class="version">NEW</span></li><li>
                        

                        
                        11:30</li><li>
                        
                        13:45</li><li>
                        
                        15:55</li><li>
                        
                        18:05</li><li>
                        
                        20:15</li><li>
                        
                        22:25</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/06/23/10/49/268921.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Le procès de Viviane Amsalem</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>4.0</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h55</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        
                        <span class="version">NEW</span></li><li>
                        

                        
                        11:15</li><li>
                        
                        13:30</li><li>
                        
                        15:45</li><li>
                        
                        18:00</li><li>
                        
                        20:15</li><li>
                        
                        22:30</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/13/16/23/370823.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">The Rover</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.6</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h42</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:20</li><li>
                        
                        13:30</li><li>
                        
                        15:45</li><li>
                        
                        18:00</li><li>
                        
                        20:15</li><li>
                        
                        22:25</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/02/14/59/468986.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Les Poings contre les murs</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.8</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h45</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:40</li><li>
                        
                        13:50</li><li>
                        
                        16:00</li><li>
                        
                        18:10</li><li>
                        
                        20:20</li><li>
                        
                        22:30</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/24/15/55/031337.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Xenia</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.4</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>02h08</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:45</li><li>
                        
                        14:30</li><li>
                        
                        17:10</li><li>
                        
                        19:40</li><li>
                        
                        22:10</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/07/15/58/238222.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Under the Skin</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.9</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h47</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        
                        <span class="version">NEW</span></li><li>
                        

                        
                        11:40</li><li>
                        
                        13:50</li><li>
                        
                        16:00</li><li>
                        
                        18:10</li><li>
                        
                        20:20</li><li>
                        
                        22:30</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/05/13/12/40/304237.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Palo Alto</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.4</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h40</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:30</li><li>
                        
                        13:45</li><li>
                        
                        16:00</li><li>
                        
                        18:05</li><li>
                        
                        20:10</li><li>
                        
                        22:20</li><li>
                        
                        </li>

                    </ul>
                </section>
                
                <section class="row">
                    <!--                    <img class="poster" src="http://images.allocine.fr/pictures/14/04/17/16/41/551922.jpg">-->

                    <div class="title">
                        <div class="row">
                            <div class="cell">
                                <div class="title-a">Comme le vent</div>
                            </div>
                            <div class="cell">
                                <div class="title-b">
                                    
                                    <img class="back" src="/img/star.png">
                                    <span>3.4</span>
                                    

                                    <img class="back" src="/img/clock.png">
                                    <span>01h52</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="diffusions">
                        <li>
                            
                            <span class="version">VO</span></li><li>
                        
                        

                        

                        
                        11:15</li><li>
                        
                        13:30</li><li>
                        
                        15:45</li><li>
                        
                        18:00</li><li>
                        
                        20:15</li><li>
                        
                        22:30</li><li>
                        
                        </li>

                    </ul>
                </section>
                

            </section>
        </div>
    

</body>
    
</html>