<head>
    <meta charset="utf-8">
    <title>Showtimes</title>
    <meta name="description" content="Weekly french cinemas showtimes delivery for BERG Cloud's Little Printer">
    <meta name="Keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://showtimes.gsell.me/css/style.css">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="http://showtimes.gsell.me/favicon.png">
    <meta property="og:image" content="http://showtimes.gsell.me/icon.png">
    <meta name="twitter:image" content="http://showtimes.gsell.me/icon.png">
</head>